Repository christinedom/FoodBankConnect: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_react, deploy_website, backend_unit_tests, postman_tests, selenium_tests, jest_tests

build_react:
  stage: build
  image: node:20-bullseye
  script:
  - cd frontend
  - npm ci
  - CI=false npm run build
  artifacts:
    paths:
    - frontend/build

deploy_website:
  stage: deploy
  image:
    name: amazon/aws-cli
    entrypoint:
    - ''
  dependencies:
  - build_react
  script:
  - aws s3 sync frontend/build/ s3://$S3_BUCKET --delete
  - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DIST_ID --paths "/*"

backend_unit_tests:
  stage: backend_test
  image: python:3.12-bullseye
  variables:
    PYTHONPATH: fbc-rest-api
  before_script:
  - pip install --upgrade pip
  - pip install -r "fbc-rest-api/requirements.txt"
  - pip install pytest
  script:
  ...

postman_tests:
  stage: postman_tests
  image: node:20-bullseye
  before_script:
  - npm install -g newman newman-reporter-junitfull
  script:
  - 'newman run "$POSTMAN_COLLECTION" --reporters cli,junitfull --reporter-junitfull-export "$NEWMAN_JUNIT_XML" --env-var "url=http://localhost:8080"  # Override your {{url}} variable
  ...

selenium_tests:
  stage: selenium_tests
  image: python:3.12-bullseye
  before_script:
  - apt-get update && apt-get install -y wget unzip xvfb libxi6 libgconf-2-4 gnupg
  - wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | apt-key add -
  ...

jest_tests:
  stage: jest_tests
  image: node:20-bullseye
  before_script:
  - cd frontend
  script:
  - npm ci
  - npm test -- --watchAll=false

Modified db loading
  .gitignore
  .gitlab-ci.yml
  fbc-load-db/main.py
  fbc-load-db/scraper.py
  scripts/ProPublicaAPIFoodbanksAndPrograms.py
  scripts/ProPublicaAPISponsors.py
  scripts/fetch_data.py
  scripts/foodbank_example.json
  scripts/parse_foodbanks_html.py
  scripts/parse_programs_html.py
  scripts/parse_sponsors_html.py
  scripts/program_example.json
  scripts/sponsor_example.json
Due: none

Fixed scraper runners and edited ci/cd
  .gitlab-ci.yml
  fbc-load-db/main.py
  fbc-load-db/requirements.txt
  fbc-load-db/scraper.py
Due: none

Ceiling
  README.md
  frontend/src/data/foodbanks.json
  frontend/src/data/foodbanks2.json
  frontend/src/data/programs.json
  frontend/src/data/programs2.json
  frontend/src/data/sponsors.json
  frontend/src/data/sponsors2.json
  frontend/src/pages/Programs.jsx
Due: build_react, deploy_website

Fix
  .gitlab-ci.yml
Due: none

SHA updated
  README.md
  temp.txt
Due: none

fixed search page styling
  frontend/src/pages/SearchPage.jsx
  frontend/src/styles/SearchPage.module.css
Due: build_react, deploy_website

updated readme
  README.md
Due: none

Pages now show which entries are being shown (eg 1 - 20 / 100)
  frontend/src/pages/Foodbanks.jsx
  frontend/src/pages/Programs.jsx
  frontend/src/pages/Sponsors.jsx
Due: build_react, deploy_website

Fixed some bugs with paging.
  frontend/src/pages/Programs.jsx
Due: build_react, deploy_website

Filled out most of TR
  Phase3-IDB.tr.md
Due: none

Light borders
  frontend/src/pages/Foodbanks.jsx
  frontend/src/pages/Sponsors.jsx
Due: build_react, deploy_website

Made no results text more visible and added a reults found number.
  frontend/src/pages/SearchPage.jsx
Due: build_react, deploy_website

Linking changes
  Phase2-Diagram.png
  README.md
  frontend/src/components/FoodbankInstancePage.jsx
  frontend/src/components/ProgramsInstancePage.jsx
  frontend/src/components/SponsorInstancePage.jsx
  frontend/src/pages/Programs.jsx
  frontend/src/pages/Sponsors.jsx
Due: build_react, deploy_website

Fix
  frontend/src/components/FoodbankInstancePage.jsx
  frontend/src/components/ProgramsInstancePage.jsx
  frontend/src/components/SponsorInstancePage.jsx
Due: build_react, deploy_website

Fixed paging counters and number of results in search.
  frontend/src/pages/Foodbanks.jsx
  frontend/src/pages/Programs.jsx
  frontend/src/pages/SearchPage.jsx
  frontend/src/pages/Sponsors.jsx
Due: build_react, deploy_website

testing oher links
  frontend/src/components/ProgramsInstancePage.jsx
  frontend/src/components/SponsorInstancePage.jsx
Due: build_react, deploy_website

Programs
  frontend/src/components/ProgramsInstancePage.jsx
Due: build_react, deploy_website

Added hours to readme.
  README.md
Due: none

Testing
  frontend/src/components/ProgramsInstancePage.jsx
Due: build_react, deploy_website

Testing sponsors
  frontend/src/components/SponsorInstancePage.jsx
Due: build_react, deploy_website

Fixed instnaces
  frontend/src/components/ProgramsInstancePage.jsx
Due: build_react, deploy_website

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Added Search endpoint to Postman and TR
  Phase3-IDB.tr.md
Due: none

Updated from form
  fbc-rest-api/app.py
Due: backend_unit_tests

Revert "Updated from form"
  fbc-rest-api/app.py
Due: backend_unit_tests

Fixing YML possibly
  .gitlab-ci.yml
Due: none

Fix
  .gitlab-ci.yml
  tests/test_api_unit.py
Due: backend_unit_tests

filter
  fbc-rest-api/app.py
  frontend/src/pages/Foodbanks.jsx
  frontend/src/pages/Programs.jsx
  frontend/src/pages/Sponsors.jsx
Due: build_react, deploy_website, backend_unit_tests

Clean up README
  README.md
Due: none

Path conditions:
  build_react: any of: frontend/**/*, frontend/.env*, package.json, package-lock.json, frontend/package.json, frontend/package-lock.json
  deploy_website: any of: frontend/**/*, frontend/.env*, package.json, package-lock.json, frontend/package.json, frontend/package-lock.json
  backend_unit_tests: any of: fbc-rest-api/**/*, tests/test_api_unit.py
  postman_tests: any of: tests/postman/**/*
  selenium_tests: any of: frontend/src/selenium_tests/**/*, frontend/tests/requirements.txt
  jest_tests: any of: frontend/src/__tests__/**/*, frontend/package.json, frontend/package-lock.json
